body {
    height: 100vh;
    /* background-image: url("/assets/images/sky.jpg"); */
    /* background-image: url("https://i.gifer.com/srG.gif"); */
    background-image: url("https://i.gifer.com/Lx0q.gif");
    background-size: cover;
    background-position: center center;
    font-family: 'Nunito', sans-serif;
}


.title{
    text-align: center;
    font-size: 2.5rem;
    padding: 0.9rem;
}

.title-container{
    display:flex;
    /* background-color: rgba(255, 255, 255, .7); */
    margin: auto;
    /* border-radius: 10px; */
    flex-direction: column;
    align-items: center;
    /* padding: 2rem; */
    /* box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, .4); */
    /* max-width:fit-content; */
    justify-content: center;
    
}



.weather-card{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.five-day-wrapper{
    max-width: 500px;
  
}


.current-card-dynamic{
    display:flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, .4);
    padding:1em;
}

.five-day-card-dynamic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


h5{
    font-size: 1rem;
    margin:auto;
}

h1{
    text-align: center;
}

.day-card-dynamic{
    margin:auto;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, .4);
    padding:1em;
}